<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{course.course_name}}</title>
</head>
<body>
    <h1>{{course.course_name}}</h1>
    <p>{{course.description}}</p>

    <h2>Students</h2>
    <ul>
        {% for s in students %}
        <li>{{s.fname}} {{s.lname}}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'studentRegister' course.id %}">Register a new student</a>
</body>
</html>