<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Date:{{dd}} and Time:{{cc}}</h1>
    <h2>Date and Time before and after offset of 4 Days</h2>
    <h3>Before Date and Time:{{m_day}}<br>After Date and Time:{{p_day}}</h3>
    <h2>Date and Time before and after offset of 4 Hours</h2>
    <h3>Before Date and Time:{{m_hours}}<br>After Date and Time:{{p_hours}}</h3>
</body>
</html>